<h2>My Heroes</h2>

<ul class="heroes">
    <!-- 내 생각: hero id값을 innerText로 가진 요소를 선택해서 style지정 -->
    <!-- 다큐먼트 : 선택된 히어로들의 배열을 만듦. -->
    <li *ngFor="let hero of heroes" (click)="onSelect(hero)"
    [class.selected]="hero === selectedHero"
    >
        <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
</ul>

<!-- selectedHero가 갱신되면 자동으로 input에 들어가는 hero데이터도 갱신된다.
    왜? 함수가 실행될때마다 전체적으로 리로딩되나. 객체가 바뀔때마다? ㅇㅎ!
-->
<app-hero-detail [hero]="selectedHero" str="anything~!~!"></app-hero-detail>
<!-- <div *ngIf="selectedHero">
<h2>{{selectedHero.name | uppercase}} Details</h2>
<div><span>id : </span>{{selectedHero.id}}</div>
<div>
    <label >name:
        <input [(ngModel)]="selectedHero.name" placeholder="name">
    </label>
</div>
</div> -->